<h1>{{ title }}</h1>

<form action="/test/submit" method="post">
    <input style="position:absolute; top:20%; left:5%; width:70%;  line-height: 4em;"  type="text" name="content">
    <button style="position:absolute; top:35%; left:5%; width:70%;" type="submit">Submit</button>
</form>

